.page__wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
 }
 
 .page {
    padding: 10px;
    margin: 5px;
    border: 1px solid teal;
    cursor: pointer;
 }
 
 .page__current {
    border: 2px solid orange;
    font-weight: bold;
 }